@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

  nav ul.hide {
    display: block;
  }
  nav ul li {
     display: inline-flex;
  }
  nav button {
   display: none;
  }
  main figure img {
    width: 100%;
  }
  main figure.image img{
    width: 100%;
  }
  main section{
    vertical-align: middle;
    display: inline;
    padding-bottom: 3em;
  }
  .current{
    float: left;
    vertical-align: middle;
    margin-left: 10em;
  }
  .highlow p{
    display: block;
    float: left;
  }
  .conditions{
    float: left;
  }

}
