@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

  nav button {
    display:none;
  }  /* hamburger button does not need to be shown */

main section{
  width: 40%;
}
  main figure img {
    width: 40%;
    float: left;
    overflow: hidden;
  }
  section.forecast {
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
    background-color: #395c6b;
    color: #fff;
  }  /* show the 10-day forecast with the medium view and up */
  table{
    font-size: 1.5rem;
    display: inline;
    padding: 10px 10px 10px 10px;
  }
  th, td {
    padding: 10px 10px 10px 10px;
  }

  article{
    overflow: hidden;
  }


  article p.town-article{
    padding: 0 10em 0 10em;
    float: left;
  }

  article p.town-article img {
    width: 50%;
    height: 50%;
    float: right;
  }  /* responsive images */

}
